<footer class="footer">
  <div class="footer-text">
    <p class="footer-text-p">© 2026. All rights reserved. Developed by: Canberk Yildiz</p>
  </div>
</footer>

<style>
.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
}

.footer-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}

.footer-text-p {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--text-color);
}

.footer-text-p.dark-mode {
  color: var(--white-bg);
}
</style>
